<div id="<%= dom_id dive %>">
  <p>
    <strong>Diver:</strong>
    <%= dive.diver %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= dive.date %>
  </p>

  <p>
    <strong>Dive location:</strong>
    <%= render dive.dive_location %>
  </p>

</div>
